.categories {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projects {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  @media screen and (max-width: $large) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  @media screen and (max-width: $medium) {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}