.wrapper {
  height: 100vh;
}

.image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

.layout {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $color-hero-overlay;

  [data-theme='dark'] & {
    background-color: $color-hero-overlay-dark;
  }
}

.title {
  color: $text-color-accent;
  font-family: $font-text-bold;
  font-size: 48px;
  line-height: 72px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;

  [data-theme='dark'] & {
    color: $color-accent-dark;
  }

  @media screen and (max-width: $medium) {
    font-size: 28px;
    line-height: 36px;
  }
  @media screen and (max-width: $tiny) {
    font-size: 24px;
    line-height: 36px;
  }
}

.subtitle {
  color: $text-color-accent;
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;

  [data-theme='dark'] & {
    color: $color-accent-dark;
  }

  @media screen and (max-width: $medium) {
    font-size: 18px;
    line-height: 30px;
  }
  @media screen and (max-width: $tiny) {
    font-size: 16px;
    line-height: 24px;
  }
}

.button {
  background: $color-accent;
  border: 2px $color-accent solid;
  border-radius: 4px;

  font-family: $font-text-regular;
  font-weight: 600;

  color: $text-color-accent;
  text-transform: uppercase;
  font-size: 14px;

  transition: background-color 0.5s, border-color 0.5s;

  padding: 12px 35px;
  margin: 50px 0;

  [data-theme='dark'] & {
    background: $text-color-primary-dark;
    border: 2px $text-color-primary-dark solid;
    color: $color-primary-dark;
  }

  &:hover {
    border-color: $color-primary;
    background-color: #ffffff33;
    cursor: pointer;

    [data-theme='dark'] & {
      border-color: $color-primary-dark;
      background-color: #ffffff33;
    }
  }

  @media screen and (max-width: $medium) {
    margin: 20px 0;
  }
}

