.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 10px 0;
  transition: background-color 300ms, padding 300ms;

  color: $text-color-accent;

  [data-theme='dark'] & {
    color: $color-header-dark;
  }
}

.headerSunk {
  @extend .header;
  padding: 5px 0;
  background-color: $color-header;

  [data-theme='dark'] & {
    color: $color-primary-dark;
    background-color: $color-header-dark;
  }
}


.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-family: $font-section-title;
}

.navigation {
  display: flex;
}

.name {
  padding: 10px;
  font-size: 14px;
  font-family: $font-section-title;
  text-transform: uppercase;
  transition: color 300ms;

  @media screen and (max-width: $medium) {
    display: none;
  }

  &:hover {
    color: $color-accent;

    [data-theme='dark'] & {
      color: $text-color-accent-dark;
    }
  }

}